@use "_reset";

$primary-color: red;
$secondary-color: black;

body{
    border: 2px solid $primary-color;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
};

.container{
    border: 2px solid $secondary-color;
    width: 800px;
    height: 500px;
};

